
.container{
position: relative;
}
.box{
padding: 15px;
float: left;
}
.container > .box > .pic > img{
width: 280px;
height: auto;
}
.container > .box > .pic{
padding: 10px;
border: 1px solid #E1E1E1;
border-radius: 5px;
box-shadow: 1px 1px 5px #A8A8A8;
}
